.t-button {
  --t-button-font-weight: var(--t-font-weight-primary);
  --t-button-border-color: var(--t-border-color);
  --t-button-bg-color: var(--t-fill-color-blank);
  --t-button-text-color: var(--t-text-color-regular);
  --t-button-disabled-text-color: var(--t-disabled-text-color);
  --t-button-disabled-bg-color: var(--t-fill-color-blank);
  --t-button-disabled-border-color: var(--t-border-color-light);
  --t-button-divide-border-color: rgba(255, 255, 255, 0.5);
  --t-button-hover-text-color: var(--t-color-primary);
  --t-button-hover-bg-color: var(--t-color-primary-light-9);
  --t-button-hover-border-color: var(--t-color-primary-light-7);
  --t-button-active-text-color: var(--t-button-hover-text-color);
  --t-button-active-border-color: var(--t-color-primary);
  --t-button-active-bg-color: var(--t-button-hover-bg-color);
  --t-button-outline-color: var(--t-color-primary-light-5);
  --t-button-hover-link-text-color: var(--t-text-color-secondary);
  --t-button-active-color: var(--t-text-color-primary);
}

.t-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--t-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: var(--t-button-font-weight);
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: var(--t-button-bg-color);
  border: var(--t-border);
  border-color: var(--t-button-border-color);
  padding: 8px 15px;
  font-size: var(--t-font-size-base);
  border-radius: var(--t-border-radius-base);

  > span {
    display: inline-flex;
    align-items: center;
  }

  & + & {
    margin-left: 12px;
  }

  &:hover,
  &:focus {
    color: var(--t-button-hover-text-color);
    border-color: var(--t-button-hover-border-color);
    background-color: var(--t-button-hover-bg-color);
    outline: none;
  }

  &:active {
    color: var(--t-button-active-text-color);
    border-color: var(--t-button-active-border-color);
    background-color: var(--t-button-active-bg-color);
    outline: none;
  }

  &.is-plain {
    color: var(--t-button-active-text-color);
    border-color: var(--t-button-active-border-color);
    background-color: var(--t-button-active-bg-color);
  }

  /*round*/
  &.is-round {
    border-radius: var(--t-border-radius-round);
  }

  /*circle*/
  &.is-circle {
    border-radius: 50%;
    padding: 8px;
  }

  /* disabled */
  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    color: var(--t-button-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
    background-color: var(--t-button-disabled-bg-color);
    border-color: var(--t-button-disabled-border-color);
  }
}

@each $val in primary, success, warning, info, danger {
  .t-button--$(val) {
    --t-button-text-color: var(--t-color-white);
    --t-button-bg-color: var(--t-color-$(val));
    --t-button-border-color: var(--t-color-$(val));
    --t-button-outline-color: var(--t-color-$(val)-light-5);
    --t-button-active-color: var(--t-color-$(val)-dark-2);
    --t-button-hover-text-color: var(--t-color-white);
    --t-button-hover-link-text-color: var(--t-color-$(val)-light-5);
    --t-button-hover-bg-color: var(--t-color-$(val)-light-3);
    --t-button-hover-border-color: var(--t-color-$(val)-light-3);
    --t-button-active-bg-color: var(--t-color-$(val)-dark-2);
    --t-button-active-border-color: var(--t-color-$(val)-dark-2);
    --t-button-disabled-text-color: var(--t-color-white);
    --t-button-disabled-bg-color: var(--t-color-$(val)-light-5);
    --t-button-disabled-border-color: var(--t-color-$(val)-light-5);
  }
  .t-button--$(val).is-plain {
    --t-button-text-color: var(--t-color-$(val));
    --t-button-bg-color: var(--t-color-$(val)-light-9);
    --t-button-border-color: var(--t-color-$(val)-light-5);
    --t-button-hover-text-color: var(--t-color-white);
    --t-button-hover-bg-color: var(--t-color-$(val));
    --t-button-hover-border-color: var(--t-color-$(val));
    --t-button-active-text-color: var(--t-color-white);
  }
}

.t-button--large {
  --t-button-size: 40px;
  height: var(--t-button-size);
  padding: 12px 19px;
  font-size: var(--t-font-size-base);
  border-radius: var(--t-border-radius-base);
}
.t-button--small {
  --t-button-size: 24px;
  height: var(--t-button-size);
  padding: 5px 11px;
  font-size: 12px;
  border-radius: cal(var(--t-border-radius-base) - 1px);
}
