:root {
  /* colors */
  --t-color-white: #ffffff;
  --t-color-black: #000000;
  --t-color-primary: #409eff;
  --t-color-primary-light-3: rgb(121.3, 187.1, 255);
  --t-color-primary-light-5: rgb(159.5, 206.5, 255);
  --t-color-primary-light-7: rgb(197.7, 225.9, 255);
  --t-color-primary-light-8: rgb(216.8, 235.6, 255);
  --t-color-primary-light-9: rgb(235.9, 245.3, 255);
  --t-color-primary-dark-2: rgb(51.2, 126.4, 204);
  --t-color-success: #67c23a;
  --t-color-success-light-3: rgb(148.6, 212.3, 117.1);
  --t-color-success-light-5: rgb(179, 224.5, 156.5);
  --t-color-success-light-7: rgb(209.4, 236.7, 195.9);
  --t-color-success-light-8: rgb(224.6, 242.8, 215.6);
  --t-color-success-light-9: rgb(239.8, 248.9, 235.3);
  --t-color-success-dark-2: rgb(82.4, 155.2, 46.4);
  --t-color-warning: #e6a23c;
  --t-color-warning-light-3: rgb(237.5, 189.9, 118.5);
  --t-color-warning-light-5: rgb(242.5, 208.5, 157.5);
  --t-color-warning-light-7: rgb(247.5, 227.1, 196.5);
  --t-color-warning-light-8: rgb(250, 236.4, 216);
  --t-color-warning-light-9: rgb(252.5, 245.7, 235.5);
  --t-color-warning-dark-2: rgb(184, 129.6, 48);
  --t-color-danger: #f56c6c;
  --t-color-danger-light-3: rgb(248, 152.1, 152.1);
  --t-color-danger-light-5: rgb(250, 181.5, 181.5);
  --t-color-danger-light-7: rgb(252, 210.9, 210.9);
  --t-color-danger-light-8: rgb(253, 225.6, 225.6);
  --t-color-danger-light-9: rgb(254, 240.3, 240.3);
  --t-color-danger-dark-2: rgb(196, 86.4, 86.4);
  --t-color-error: #f56c6c;
  --t-color-error-light-3: rgb(248, 152.1, 152.1);
  --t-color-error-light-5: rgb(250, 181.5, 181.5);
  --t-color-error-light-7: rgb(252, 210.9, 210.9);
  --t-color-error-light-8: rgb(253, 225.6, 225.6);
  --t-color-error-light-9: rgb(254, 240.3, 240.3);
  --t-color-error-dark-2: rgb(196, 86.4, 86.4);
  --t-color-info: #909399;
  --t-color-info-light-3: rgb(177.3, 179.4, 183.6);
  --t-color-info-light-5: rgb(199.5, 201, 204);
  --t-color-info-light-7: rgb(221.7, 222.6, 224.4);
  --t-color-info-light-8: rgb(232.8, 233.4, 234.6);
  --t-color-info-light-9: rgb(243.9, 244.2, 244.8);
  --t-color-info-dark-2: rgb(115.2, 117.6, 122.4);

  --t-bg-color: #ffffff;
  --t-bg-color-page: #f2f3f5;
  --t-bg-color-overlay: #ffffff;
  --t-text-color-primary: #303133;
  --t-text-color-regular: #606266;
  --t-text-color-secondary: #909399;
  --t-text-color-placeholder: #a8abb2;
  --t-text-color-disabled: #c0c4cc;
  --t-border-color: #dcdfe6;
  --t-border-color-light: #e4e7ed;
  --t-border-color-lighter: #ebeef5;
  --t-border-color-extra-light: #f2f6fc;
  --t-border-color-dark: #d4d7de;
  --t-border-color-darker: #cdd0d6;
  --t-fill-color: #f0f2f5;
  --t-fill-color-light: #f5f7fa;
  --t-fill-color-lighter: #fafafa;
  --t-fill-color-extra-light: #fafcff;
  --t-fill-color-dark: #ebedf0;
  --t-fill-color-darker: #e6e8eb;
  --t-fill-color-blank: #ffffff;

  /* border */
  --t-border-width: 1px;
  --t-border-style: solid;
  --t-border-color-hover: var(--t-text-color-disabled);
  --t-border: var(--t-border-width) var(--t-border-style) var(--t-border-color);
  --t-border-radius-base: 4px;
  --t-border-radius-small: 2px;
  --t-border-radius-round: 20px;
  --t-border-radius-circle: 100%;

  /* font */
  --t-font-size-extra-large: 20px;
  --t-font-size-large: 18px;
  --t-font-size-medium: 16px;
  --t-font-size-base: 14px;
  --t-font-size-small: 13px;
  --t-font-size-extra-small: 12px;
  --t-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  --t-font-weight-primary: 500;

  /* disabled */
  --t-disabled-bg-color: var(--t-fill-color-light);
  --t-disabled-text-color: var(--t-text-color-placeholder);
  --t-disabled-border-color: var(--t-border-color-light);

  /* shadow */
  --t-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --t-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --t-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --t-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12),
    0px 8px 16px -8px rgba(0, 0, 0, 0.16);

  /* overlay */
  --t-overlay-color: rgba(0, 0, 0, 0.8);
  --t-overlay-color-light: rgba(0, 0, 0, 0.7);
  --t-overlay-color-lighter: rgba(0, 0, 0, 0.5);

  /* mask */
  --t-mask-color: rgba(255, 255, 255, 0.9);
  --t-mask-color-extra-light: rgba(255, 255, 255, 0.3);
  --t-svg-monochrome-grey: var(--t-border-color);
}
